# 01. Intro

## shortcut
- ctrl + enter : 지금 현재 셀 실행
- shift + enter : 현재 셀 실행 + 아래로 이동
- alt + enter : 현재 셀 실행 + 아래에 새로운 셀 추가

## 주의사항

1. Apple / apple (대.소문자 구분 다른의미)
2. git add . / git add. (띄어쓰기 구분 다른 의미)
3. message / massage (오탈자 확인)

In [65]:
#(주석) 해당 줄에 ctrl + /

## 1. 변수

변수이름 = 값

- 변수이름은 어떤 이름이든 사용가능(명시적인 이름)
- 영어(소문자, 예외로 대문자->변함이 없는 데이터), 숫자, _(2개 이상의 단어 연결) 를 이용하여 선언
- 키워드는 사용 불가(파이썬을 동작하기 위해서 규칙을 만들어 놓은 언어)

In [23]:
a = 30

In [24]:
a

30

In [25]:
# 키워드 
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [26]:
seoul_dust_rate = 10

### 1.1 Number

In [27]:
a = 100000

In [28]:
a

100000

In [29]:
type(a)

int

In [30]:
b = 1.1

In [31]:
b

1.1

In [32]:
type(b)

float

In [33]:
c = 1 - 4j

In [34]:
c

(1-4j)

In [35]:
type(c)

complex

### 1.2 Boolean

True, False로 이루어진 타입

In [43]:
a = True

In [44]:
a

True

In [45]:
type(a)

bool

In [46]:
b = False

In [47]:
b

False

In [49]:
type(b)

bool

### 1.3 None
(데이터가 없음)

In [52]:
a = None

In [53]:
type(a)

NoneType

### 1.4 String

- 문자열은 `'` , `"` 를 이용하여 표현
- 통일성 있게 사용 `'` , `"` (상황에 맞춰서)

In [54]:
a = 'hello'

In [55]:
type(a)

str

In [56]:
b = "world"

In [57]:
type(b)

str

In [63]:
# input() 사용자가 입력하는 데이터 (무조건 문자형태를 갖음)
age = input()
print(age)
print(type(age))

 123

123
<class 'str'>

In [66]:
# print('안녕하세요 '김주미'입니다.')
print("안녕하세요 '김주미'입니다.")
print('안녕하세요 "김주미"입니다.')

안녕하세요 '김주미'입니다.
안녕하세요 "김주미"입니다.

In [73]:
# 이스케이프 문자열 \사용
print('안녕하세요. \'김주미\'입니다.')

안녕하세요. '김주미'입니다.

In [70]:
# doc string 여러줄의 데이터를 한번에 작성할 수 있게 도와줌 ''' 문자열 ''' 
a = '''
안녕하세요 '김주미'입니다.
여러줄도 작성 가능합니다.
'''
print(a)

안녕하세요 '김주미'입니다.
여러줄도 작성 가능합니다.

In [72]:
print('안녕하세요. \n김주미입니다. \t들여쓰기 이스케이프 문자열입니다')

안녕하세요.
김주미입니다. 	들여쓰기 이스케이프 문자열입니다

#### string interpolation
문자열 안에 변수를 넣는 방법
1. %-formatting
2. str.format()
3. f-string

In [74]:
age = 10

In [75]:
print('홍길동은 %s살 입니다.' % age)

홍길동은 10살 입니다.

In [76]:
print('홍길동은 {}살 입니다.'.format(age))

홍길동은 10살 입니다.

In [77]:
print(f'홍길동은 {age}살 입니다.')

홍길동은 10살 입니다.

## 2. 연산자

### 2.1 산술연산자

In [80]:
a = 7
b = 3

In [85]:
print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a ** b)

15
-5
50
0.5
9765625

In [86]:
print(a // b) # 몫
print(a % b) # 나머지 

print(divmod(a , b)) # 몫과 나머지 같이 출력해주는 함수

0
5
(0, 5)

### 2.2 비교연산자

In [87]:
a = 5
b = 10

In [89]:
print(a > b)
print(a < b)
print(a <= b)
print(a >= b)

False
True
True
False

In [90]:
print(a == b)
print(a != b)

False
True

In [92]:
print('hi' == 'hi')
print('hi' == 'Hi')

True
False

### 2.3 논리 연산자

- and : 양쪽 모두 True 일 때 True를 반환
- or : 양쪽 모두 False 일 때 False를 반환
- not : 값을 반대로 전환

In [95]:
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [96]:
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

In [98]:
result = True
print(not result)

False

In [102]:
# 단축 평가(and)
# and 연산은 앞에 있는 대상이 True 일 경우 뒤에 있는 대상을 반환 
print(3 and 5)
print(3 and 0)
print(0 and 3)
print(0 and 0)

5
0
0
0

In [103]:
# 단축 평가(or)
# or 
print(3 or 5)
print(3 or 0)
print(0 or 3)
print(0 or 0)

3
3
3
0

### 2.4 복합연산자
연산을 반복 할 때 사용

In [104]:
a = 1
b = 2

In [106]:
a = a + b
a = a - b
a = a * b
a = a / b

In [107]:
a += b
a -= b
a *= b
a /= b
a **= b
a %= b
a //= b

### 2.5 기타 연산자

In [108]:
a = 'hi'
b = 'hello'

In [109]:
# concatenation(연결)
print(a + b)

hihello

In [110]:
a = [1, 2, 3]
b = [4, 5, 6]

In [111]:
print(a + b)

[1, 2, 3, 4, 5, 6]

In [114]:
# containment (포함하는가?)
print(1 in a)
print(10 in a)

True
False

In [116]:
# identity
# is 메모리의 값 비교
# 메모리 : 데이터가 저장된 임시 공간 
# -5 ~ 256 같은 메모리 값을 가지는 수 (자주 사용하는 수) 
a = 5
b = 5

print(a == b)
print(a is b)

True
True

In [117]:
a = 123123
b = 123123

print(a == b)
print(a is b)

True
False

#### 우선순위

0. ()를 통해서 그룹
1. **
2. 산술 연산자 (*, /)
3. 산술 연산자 (+, -)
4. 비교 연산자, in, is
5. not
6. and
7. or

In [119]:
print(-3 ** 4)
print((-3) ** 4)

-81
81

## 3. 형변환
### 3.1 암시적 형변환

In [120]:
a = True
b = False
c = 1

In [122]:
print(a + b)
print(b - c)

1
-1

In [123]:
int_num = 3
float_num = 3.3
complex_num = 3 + 3j

In [127]:
print(int_num + float_num)
print(type(int_num + float_num))
print(float_num + complex_num)
print(type(float_num + complex_num))

6.3
<class 'float'>
(6.3+3j)
<class 'complex'>

### 3.2 명시적 형변환

- int() : string, floalt => int
- float() : string, int => float
- str() : int, float => string
- bool() : int, list, string => bool

In [128]:
a = 1
b = '번'

In [129]:
print(a + b)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [130]:
print(str(a) + b)

1번

In [134]:
a = '3'
print(type(a))
print(type(int(a)))

<class 'str'>
<class 'int'>

In [135]:
a = 'a'
print(int(a))

ValueError: invalid literal for int() with base 10: 'a'

In [137]:
a = '3.3'
print(float(a))

3.3

In [138]:
a = 1
b = 0
print(bool(a))
print(bool(b))

True
False

In [140]:
print(bool([]))
print(bool([1, 2, 3]))

False
True

## 4. 시퀀스 자료형

시퀀스는 데이터의 순서대로 나열된 자료구조.(순서대로 나열 되었다는 것은 정렬된 것과 다르다)

1. List
2. Tuple
3. Range
4. String

### 4.1 List(리스트, 배열)
여러개의 데이터 또는 상관관계 있는 데이터의 집합
각각의 변수로도 사용가능

- 선언 : 변수이름 = [value1, value2, value3 ...]
- 접근 : 변수이름[index](index value값의 위치 0부터 시작)

In [142]:
l = []
print(l)
print(type(l))

[]
<class 'list'>

In [147]:
location = ['서울', '대전', '부산']
print(location)
print(location[2])

location[1] = '광주'
print(location)

['서울', '대전', '부산']
부산
['서울', '광주', '부산']

### 4.2 Tuple(튜플)
함부로 수정하면 안되는 값들
- 선언 : 변수이름 = (value1, value2, value3 ...)
- 접근 : 변수이름[index]
- 리스트와 유사하지만 수정불가능(immutable)이다.

In [150]:
numbers = (123, 456, 789)
print(numbers)
print(numbers[1])

(123, 456, 789)
456

In [151]:
numbers[1] = 654

TypeError: 'tuple' object does not support item assignment

In [153]:
x, y = (1, 2)
print(x, y)

x, y = y, x
print(x, y)

1 2
2 1

### 4.3 Range(범위)

- range(n) : 0 부터 n-1 까지의 범위
- range(n, m) : n 부터 m-1 까지의 범위
- range(n, m, s) : n 부터 m-1 까지 s 만큼 증가하는 범위

In [155]:
lotto = range(45)
print(lotto)
print(list(lotto))

range(0, 45)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44]

In [156]:
numbers = range(5, 10)
print(numbers)
print(list(numbers))

range(5, 10)
[5, 6, 7, 8, 9]

In [157]:
even = range(2, 20, 2)
print(even)
print(list(even))

range(2, 20, 2)
[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [158]:
numbers = range(0, -10, -2)
print(numbers)
print(list(numbers))

range(0, -10, -2)
[0, -2, -4, -6, -8]

In [160]:
numbers = range(1, 11)
print(list(numbers))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### 4.4 String
기본 데이터 구조 참고

### 4.5 시퀀스에서 황용가능한 연산/함수

In [161]:
my_list = [1, 2, 3, 4, 5]
my_tuple = (1, 2, 3, 4, 5)
my_range = range(5)
my_string = '12345'

In [162]:
# indexing
print(my_list[0])
print(my_tuple[0])
print(my_range[0])
print(my_string[0])

1
1
0
1

In [167]:
# slicing([n : m]) n 이상 m 미만
print(my_list[1 : 3])
print(my_tuple[1 : 3])
print(my_range[1 : 3])
print(my_string[1 : 3])

print(my_string[0:4:2])

[2, 3]
(2, 3)
range(1, 3)
23
13

In [170]:
# in 
print(1 in my_list)
print(1 in my_tuple)
print('1' in my_string)

print(1 not in my_list)

True
True
True
False

In [174]:
# concatenation (range는 불가)
print(my_list + [6, 7, 8, 9, 10])
print(my_tuple + (6, 7, 8, 9, 10))
print(my_string + '678910')

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
12345678910

In [178]:
# * 서로 연결하여 반복
print('#'* 10)
print([0] * 10)

##########
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [180]:
print(len('길이출력'))
print(len(my_list))

4
5

In [183]:
# 최댓값
print(max(my_list))

5

In [184]:
# 최솟값
print(min(my_list))

1

## 5. 시퀀스형이 아닌 자료구조

### 5.1 Set
수학에서 사용하는 집합과 동일한 개념(중복값이 없음)

- 선언 : 변수이름 = {value1, value2, value3 ...}

In [186]:
my_set_a = {1, 3, 5, 7, 9}
my_set_b = {1, 2, 3, 4, 5}

In [189]:
print(my_set_a - my_set_b)
print(my_set_a | my_set_b)
# | 합집합
print(my_set_a & my_set_b)

{9, 7}
{1, 2, 3, 4, 5, 7, 9}
{1, 3, 5}

In [191]:
# 시퀀스형이 아닌 set 순서, 중복 상관없음
test_set = {1, 2, 3, 4, 1, 3, 4, 5, 6, 1, 2, 3, 4, 5}
print(test_set)

{1, 2, 3, 4, 5, 6}

### 5.2 Dictionary

- 선언 : 변수이름 = {key1 : value1, key2 : value2 ....}
- 접근 : 변수이름[key]

In [194]:
my_dict = {'서울': '02', '경기': '031'}
print(my_dict)
print(my_dict['서울'])

{'서울': '02', '경기': '031'}
02

In [195]:
my_info = {
    'name': 'changhee',
    'location': 'seoul',
    'age': 10
}
print(my_info)
print(my_info['location'])

{'name': 'changhee', 'location': 'seoul', 'age': 10}
seoul

In [199]:
#dictionary의 key 값
my_info.keys()

dict_keys(['name', 'location', 'age'])

In [200]:
#dictionary의 value 값
my_info.values()

dict_values(['changhee', 'seoul', 10])

#### 데이터 타입
1. Number
2. Boolean
3. String

#### 자료 구조
- 시퀀스 자료형
1. [List] : mutable
2. (Tuple) : immutable
3. range() : immutable
4. 'String' : immutable

- 시퀀스가 아닌 자료형
1. {Set} : mutable
2. {Dict: ionary} : mutable