# 제어문

## 조건문

### if

1. if문은 반드시 일정한 참/거짓을 판단 할 수 있는 `조건식`과 함께 사용된다.
    - (`if <조건식>:`)
2. `<조건식>` 참(True)인 경우`:` 이후의 문장을 실행
3. `<조건식>` 거짓(False)인 경우 `else:` 이후의 문장을 실행

```python
if <조건식>:
    if의 조건식이 참인 경우 실행
else:
    if의 조건식이 거짓인 경우 실행
```

In [2]:
my_string = input()

if my_string == '12/25':
    print('크리스마스입니다.')
else:
    print('크리스마스가 아닙니다.')

 12/25

크리스마스입니다.

In [8]:
#짝수인가 홀수인가
num = input('숫자를 입력해주세요')

result = int(num) % 2

if bool(result):
    print('홀수입니다.')
else:
    print('짝수입니다.')

숫자를 입력해주세요 12

짝수입니다.

In [10]:
num = int(input())

if num % 2  == 1:
    print('홀수')
else:
    print('짝수')

 12

짝수

In [11]:
num = int(input())

if num % 2 == 0:
    print('짝수')
else: 
    print('홀수')

 11

홀수

In [12]:
num = int(input())

if num % 2:
    print('홀수')
else:
    print('짝수')

 11

홀수

### elif
1. if문과 동일하지만 경우의 수가 많을 때 사용
2. 위의 조건식부터 순서대로 검증

```python
if <조건식>:
    if 조건이 참인경우
elif <조건식>:
    elif 조건식이 참인 경우
...
else:
    위의 조건식이 하나도 부합하지 않는 경우

In [24]:
score = int(input())

 94

In [25]:
# 90점 이상 A
# 80 ~ 89 B
# 70 ~ 79 C
# 나머지 F

if score >= 90:
    print('A')
elif score >= 80 and score <= 89:
    print('B')
elif 70 <= score <= 79:
    print('C')
else:
    print('F')

A

In [26]:
if score >= 90:
    print('A')
    if score >= 95:
        print('참잘했어요')
elif score >= 80:
    print('B')

A

### 조건표현식
1. 조건식이 참인 경우 if <조건식> else 조건식이 거짓인 경우
2. 잘 쓰이지 않음
```python
true_value if <조건식> else false_value
```

In [27]:
print('True') if 1 > 0 else print('False')

True

In [28]:
if 1 > 0:
    print('True')
else:
    print('False')

True

In [29]:
num = 5
value = num if num >= 0 else 0
print(value)

5

In [38]:
# 내가 짠 코드
num = 5
if num >= 0:
    print(num)
else:
    print(0)

5

In [39]:
# 강사님이 짠 코드
num = 5

if num >= 0:
    value = 5
else:
    value = 0

print(value)

5

In [36]:
num = 2

if num % 2:
    result = '홀수'
else:
    result = '짝수'

print(result)

짝수

In [37]:
num = 3

result = '홀수' if num % 2 else '짝수'
print(result)

홀수

## 반복문

### while문
1. 조건식이 참인 경우 코드를 반복하여 실행
2. 조건식이 끝나는 경우를 잘 설정해줘야 함(무한루프에 빠지지 않게 주의)

```python
while <조건식>:
    실행할 코드
```

In [40]:
a = 0

while a < 5:
    print(a)
    a += 1

0
1
2
3
4

In [42]:
greeting = ''

while greeting != '안녕':
    greeting = input('안녕이라고 말해줘')

안녕이라고 말해줘 dkssud
안녕이라고 말해줘 안녕

### for문

1. 정해진 범위 내의 반복
2. 시퀀스형 데이터 사용
```python
for variable(item시퀀스형 자료구조안의 아이템 변수) in sequence(시퀀스형 자료구조 - 복수형 변수):
    code
```

In [50]:
# list
numbers = [1, 2, 3, 4, 5]

for number in numbers: 
    print(number)

1
2
3
4
5

In [51]:
# string
word = input('단어를 입력해주세요.')

for char in word:
    print(char)

단어를 입력해주세요. apple

a
p
p
l
e

In [52]:
# 가장 많이 쓰는 형태 range()
for i in range(5):
    print(i)

0
1
2
3
4

In [53]:
# tuple
for i in (1, 2, 3, 4, 5):
    print(i)

1
2
3
4
5

In [58]:
# 1 ~ 30 까지 숫자들 중에서 홀수만 출력
# 내가 짠 코드 
for i in range(1, 31):
    if i % 2:
        print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29

In [59]:
# 강사님 코드(변수로 지정하면 수정이 용이함)
numbers = range(31)

for number in numbers:
    if number % 2:
        print(number)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29

In [62]:
#리스트 안의 데이터를 인덱스와 튜플로 감싸줌 -> 인덱스 값이 중요할 때 사용
menus = ['라면', '김밥', '백반']
enumerate(menus)

In [61]:
menus = ['라면', '김밥', '백반']
for menu in enumerate(menus):
    print(menu)

(0, '라면')
(1, '김밥')
(2, '백반')

In [63]:
for index, menu in enumerate(menus):
    print(index)
    print(menu)

0
라면
1
김밥
2
백반

### dictionary 반복 

1.
2. for key in dict:
3. for key in dict.key():
4. for value in dict.value():
5. for key,value in dict.items():

In [65]:
info = {
    'name': 'gildong',
    'location': 'seoul',
    'phone': '010-1234-1234',
    'age': 20,
}

In [67]:
for cat in info:
    print(cat)
    print(info[cat])

name
gildong
location
seoul
phone
010-1234-1234
age
20

In [68]:
for key in info.keys():
    print(key)
    print(info[key])

name
gildong
location
seoul
phone
010-1234-1234
age
20

In [70]:
for value in info.values():
    print(value)
info.values()

gildong
seoul
010-1234-1234
20

dict_values(['gildong', 'seoul', '010-1234-1234', 20])

In [72]:
for key, value in info.items():
    print(key, value)

name gildong
location seoul
phone 010-1234-1234
age 20

In [75]:
blood_type = {
    'A': 5,
    'B': 3,
    'O': 2,
    'AB': 2,
}

In [79]:
# 혈액형의 종류는 ?? ?? 입니다.
print('혈액형의 종류는', end=' ')
for key in blood_type.keys():
    print(key, end=' ')
print('가 있습니다')

혈액형의 종류는 A B O AB 가 있습니다

In [80]:
# 총 학생 수는 몇 명 입니다.
result = 0
print('총 학생 수는', end=' ')
for value in blood_type.values():
    result += value
print(result, end=' ')
print('명 입니다.')

총 학생 수는 12 명 입니다.

In [81]:
result = 0
for value in blood_type.values():
    result += value
print(f'총 학생 수는 {result}명 입니다')

총 학생 수는 12명 입니다

### break
1. 반복문을 종료시키는 키워드
2. if문으로 종료시키는 조건

In [82]:
for i in range(100):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [83]:
for i in range(100):
    if i > 10:
        break
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [85]:
rice = ['보리', '보리', '보리', '보리', '쌀', '보리']

for r in rice:
    print(r)
    if r == '쌀':
        print('잡았다')
        break

보리
보리
보리
보리
쌀
잡았다

In [86]:
i = 0
while True:
    if rice[i] == '쌀':
        print('잡았다')
        break
    print(rice[i])
    i += 1

보리
보리
보리
보리
잡았다

### continue

continue 이후의 코드를 실행하지 않고 다음 반복을 진행(skip)

In [90]:
for i in range(20):
    if i % 2: 
        continue
    print(i)

0
2
4
6
8
10
12
14
16
18

In [93]:
ages = [10, 20, 38, 82, 11, 13, 39]

for age in ages:
    if age <= 20:
        continue
    print(f'{age}살은 성인입니다.')

38살은 성인입니다.
82살은 성인입니다.
39살은 성인입니다.

### else

1. else문은 끝까지 반복된 후 실행
2. break를 만나지 않았을 때 실행

In [94]:
for i in range(10):
    print(i)
else:
    print('else 입니다.')

0
1
2
3
4
5
6
7
8
9
else 입니다.

In [95]:
for i in range(10):
    if i > 5:
        break
    print(i)
else:
    print('else 입니다.')

0
1
2
3
4
5

### pass
1. 임시로 코드를 실행할 때 사용(코드가 없을 때 발생하는 에러 방지)

In [96]:
if True:
    pass

### match

1. 조건에 부합하는 걸 바로 찾기

```python
match value:
    case 조건:
        code
    case 조건:
        code
    case _:
        code
```

In [97]:
status = 404

match status:
    case 200:
        print('ok')
    case 404:
        print('bad')
    case _:
        print('i dont know')

bad