# 문자열 메소드
- 원본데이터 수정하는 함수 , 원본데이터 수정하지 않는 함수 주의하여 사용
- 문자열 수정불가능한 데이터

In [3]:
#dir() 기능 출력 함수
print(dir('hello'))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [4]:
a = 'hello my name is hong'

In [5]:
print(a)

hello my name is hong

In [7]:
a[0] = 'H'

TypeError: 'str' object does not support item assignment

In [9]:
print(a.capitalize())

Hello my name is hong

In [11]:
# 모든 단어들의 첫번째 글자 대문자 변경
a.title()

'Hello My Name Is Hong'

In [14]:
# 모든 단어 대문자
a.upper()

'HELLO MY NAME IS HONG'

In [15]:
# 모든 단어 소문자
a.lower()

'hello my name is hong'

In [18]:
# 원본데이터가 바뀌지 않는 함수는 재할당하면 기능 적용
a = a.upper()

In [17]:
print(a)

HELLO MY NAME IS HONG

In [19]:
my_list = ['my', 'name', 'is']

In [24]:
# 여러가지 데이터를 하나로 합칠 때 사용
print(' '.join(my_list))

my name is

In [26]:
my_string = '         hello      \n   '
print(my_string)

         hello

In [28]:
# 좌우공백 지울 때 
print(my_string.strip())

hello

In [31]:
# lstrip = 왼쪽, rstrip = 오른쪽
my_string2 = '------------hello-------------'
print(my_string2.strip('-'))
print(my_string2.lstrip('-'))
print(my_string2.rstrip('-'))

hello
hello-------------
------------hello

In [35]:
a = 'woooooooow'
a.replace('o', '?', 3) #replace(무엇을, 무엇으로[, 바꿀개수(생략 시 전체)])

'w???ooooow'

In [39]:
a = 'apple'
print(a.find('a'))
print(a.find('l')) #find - 어느 위치에 있는지 출력
print(a.find('z')) #없는 데이터는 음수

0
3
-1

In [42]:
a = 'apple'
prnt(a.index('a'))
print(a.index('p'))
print(a.index('z')) #없는 데이터 찾으면 에러

NameError: name 'prnt' is not defined

In [45]:
a = 'my_name_is_hong'
print(a.split('_')) #split(기준점(생략 시 띄어쓰기 기준))

['my', 'name', 'is', 'hong']

In [46]:
a = 'woooooo'
a.count('o')

6

# 리스트 메소드
- 리스트형은 수정가능 , 실행 할 때마다 데이터 추가

In [47]:
numbers = [1, 2, 3, 7, 5, 6, 9]

In [49]:
numbers.append(10) # list에 데이터 추가 (데이터는 오른쪽으로 순서대로 추가&제거)
print(numbers)

[1, 2, 3, 7, 5, 6, 9, 10, 10]

In [51]:
a = [99, 100]
numbers.extend(a) #list에 list 추가 
print(numbers)

[1, 2, 3, 7, 5, 6, 9, 10, 10, 99, 100, 99, 100]

In [53]:
numbers.insert(0, -10) # 내가 원하는 위치에 데이터 삽입 insert(어디에, 무엇을)
print(numbers)

[-10, -10, 1, 2, 3, 7, 5, 6, 9, 10, 10, 99, 100, 99, 100]

In [57]:
# x를 찾아서 제거, 없으면 에러 발생
numbers.remove(-10)
print(numbers)

ValueError: list.remove(x): x not in list

In [62]:
result = numbers.pop() #맨 뒤에 있는 데이터 제거 
print(numbers, result)
#pop() 데이터를 단순히 제거하는 것이 아닌 데이터 추출하여 변수에 저장 할 수 있음
result = numbers.pop(0) # (0) 앞에 있는 데이터 제거
print(numbers, result)

[3, 7, 5, 6, 9, 10] 10
[7, 5, 6, 9, 10] 3

In [64]:
#정렬 기본값 - 오름차순
numbers.sort()
print(numbers)
# 내림차순 reverse=True
numbers.sort(reverse=True)
print(numbers)

[5, 6, 7, 9, 10]
[10, 9, 7, 6, 5]

In [67]:
numbers = [5, 4, 7, 8, 3, 2]

print(sorted(numbers)) # 내장 함수 sorted 원본데이터 수정 x
print(numbers)

[2, 3, 4, 5, 7, 8]
[5, 4, 7, 8, 3, 2]

In [71]:
my_list = ['b', 'c', 'a', 'd', 'e', 'j', 'k']
my_list.sort()
print(my_list)
# 컴퓨터는 글자를 숫자로 치환하여 정렬 (아스키코드, 유니코드)
my_kor = ['ㄱ', 'ㅎ', 'ㄹ', 'ㅍ']
my_kor.sort()
print(my_kor)

['a', 'b', 'c', 'd', 'e', 'j', 'k']
['ㄱ', 'ㄹ', 'ㅍ', 'ㅎ']

In [73]:
print(numbers)
numbers.reverse()
print(numbers)

[5, 4, 7, 8, 3, 2]
[2, 3, 8, 7, 4, 5]

In [81]:
print(numbers)
print(numbers[-2])#음수: 뒤에서부터 접근
print(numbers[:])# 맨 앞, 맨 뒤
print(numbers[::-1]) # 뒤에서부터 슬라이싱 -> reverse

[2, 3, 8, 7, 4, 5]
4
[2, 3, 8, 7, 4, 5]
[5, 4, 7, 8, 3, 2]

## list copy

In [89]:
# 데이터를 저장하는 주소 공유
origin_list = [1, 2, 3]
copy_list = origin_list

In [84]:
print(origin_list)
print(copy_list)

[1, 2, 3]
[1, 2, 3]

In [85]:
origin_list[0] = 100

In [86]:
print(origin_list)
print(copy_list)

[100, 2, 3]
[100, 2, 3]

In [88]:
origin_list = [1, 2, 3]
copy_list = origin_list[:]

origin_list[0] = 100

print(origin_list)
print(copy_list)

[100, 2, 3]
[1, 2, 3]

In [95]:
origin_list = [1, 2, [3, 4]]
copy_list = origin_list[:] #다차원 데이터 전부 복사하기 어려움

origin_list[0] = 100
origin_list[2][0] = 300

print(origin_list)
print(copy_list)

[100, 2, [300, 4]]
[1, 2, [300, 4]]

In [94]:
import copy

origin_list = [1, 2, [3, 4]]
copy_list = copy.deepcopy(origin_list) #깊은 복사

origin_list[0] =100
origin_list[2][0] = 300

print(origin_list)
print(copy_list)

[100, 2, [300, 4]]
[1, 2, [3, 4]]

## list comprehension
- 리스트 안에 반복문, 조건문을 넣는 형식
- list = [계산할 식 반복문 or 조건문]

In [99]:
numbers = list(range(1,11))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [100]:
# => [1, 8, 27...1000]
result = []
for num in numbers:
    temp =num ** 3
    result.append(temp)

print(result)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [101]:
result = [number ** 3 for number in numbers]
print(result)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [102]:
# 짝수만 고르기
result = []
for number in numbers:
    if number % 2 == 0:
        result.append(number)
print(result)

[2, 4, 6, 8, 10]

In [104]:
result = [number for number in numbers if number % 2 == 0]
print(result)

[2, 4, 6, 8, 10]

In [119]:
# 연습 모음 제거
words = 'my name is hong'

# => my mn s hng

In [120]:
# vowels = ['a', 'e', 'i', 'o', 'u']
vowels = 'aeiou'
result = []
for char in words:
    if char in vowels:
        # 모음인 경우
        pass
    else:
        # 자음인 경우
        result.append(char)
print(result)

['m', 'y', ' ', 'n', 'm', ' ', 's', ' ', 'h', 'n', 'g']

In [123]:
vowels = 'aeiou'
result = []
for char in words:
    if char not in vowels:
        # 모음인 경우 => 자음인 경우
        result.append(char)
    #else:
        # 자음인 경우 => 모음인 경우
        
print(result)
print(''.join(result))

['m', 'y', ' ', 'n', 'm', ' ', 's', ' ', 'h', 'n', 'g']
my nm s hng

In [124]:
vowels = 'aeiou'
result = [char for char in words if char not in vowels]
print(''.join(result))

my nm s hng

In [128]:
# 3. replace 메소드 활용
vowels = 'aeiou'

for char in vowels:
    words = words.replace(char,'')

print(words)

my nm s hng

In [126]:
a = 'asdf'
print(a.replace('a','1'))
print(a)

1sdf
asdf

# dictionary 메소드

In [143]:
info ={
    'name': 'hong',
    'location': 'seoul',
    'age': 20,
    'models': ['iphone', 'mac book', 'watch'],
    'phone_book': {
        'kim': '010-1234-1234',
        'lee': '010-4567-4567',
    } 
}

In [144]:
print(info['name'])
print(info['models'][0])
print(info['phone_book']['kim'])

hong
iphone
010-1234-1234

In [145]:
# 데이터 수정
info['name'] = 'park'
print(info)

info.update(name='oh')
print(info)

{'name': 'park', 'location': 'seoul', 'age': 20, 'models': ['iphone', 'mac book', 'watch'], 'phone_book': {'kim': '010-1234-1234', 'lee': '010-4567-4567'}}
{'name': 'oh', 'location': 'seoul', 'age': 20, 'models': ['iphone', 'mac book', 'watch'], 'phone_book': {'kim': '010-1234-1234', 'lee': '010-4567-4567'}}

In [146]:
# 내가 원하는 데이터 꺼내서 리턴 
age = info.pop('age')
print(info, age)

{'name': 'oh', 'location': 'seoul', 'models': ['iphone', 'mac book', 'watch'], 'phone_book': {'kim': '010-1234-1234', 'lee': '010-4567-4567'}} 20

In [147]:
print(info.get('name'))
print(info['name'])

oh
oh

In [148]:
print(info['birth'])

KeyError: 'birth'

In [149]:
print(info.get('birth'))

None

In [151]:
# 연습문제
blood_type = ['A', 'B', 'B', 'O', 'AB', 'A']

# => blood_dict = {'A': 2, 'B': 2, 'AB':1, 'O': 1}

result = {
    'A': 0,
    'B': 0,
    'AB': 0,
    'O': 0,
}
for blood in blood_type:
    result[blood] += 1

print(result)

{'A': 2, 'B': 2, 'AB': 1, 'O': 1}

In [155]:
location = ['서울', '대전', '서울', '부산', '강릉']

result = {}
for loc in location:
    # result의 key에 location이 있으면 
    if result.get(loc):
        result[loc] += 1
    # result의 key에 location이 없으면
    else:
        result[loc] = 1

print(result)

{'서울': 2, '대전': 1, '부산': 1, '강릉': 1}

In [156]:
result = {}
for loc in location:
    result.update({loc: location.count(loc)})

print(result)

{'서울': 2, '대전': 1, '부산': 1, '강릉': 1}

## dict comprehension

In [157]:
# {1: 1, 2: 8, 3: 27...10: 1000}
result = {}
numbers = list(range(1, 11))

for number in numbers:
    result[number] = number ** 3

print(result)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [158]:
result = {number: number ** 3 for number in numbers}
print(result)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [163]:
dust ={
    '서울': 50,
    '대전': 100,
    '부산': 70,
    '광주': 90,
}
# result = {'대전': 100, '광주': 90}

result = {}
for key, value in dust.items():
    if value > 70:
        result[key] = value
print(result)

{'대전': 100, '광주': 90}

In [167]:
result = {k: '나쁨' for k, v in dust.items() if v > 70 } # 넣고 싶은 값 치환하여 넣을 수 있음
print(result)

{'대전': '나쁨', '광주': '나쁨'}

# set 메소드

In [194]:
fruits = {'apple', 'banana', 'melon', 'apple'}
print(fruits)

{'apple', 'melon', 'banana'}

In [195]:
fruits.add('watermelon') # 단일데이터 추가
print(fruits)

{'apple', 'melon', 'watermelon', 'banana'}

In [196]:
fruits.update({'grape', 'orange'}) #update 시 set 형식(여러데이트)으로 넣어줘야함 => list의 extends 비슷한 역할
print(fruits)

{'melon', 'watermelon', 'orange', 'banana', 'apple', 'grape'}

In [197]:
fruits.remove('apple') #단일 데이터 제거
print(fruits)

{'melon', 'watermelon', 'orange', 'banana', 'grape'}

In [198]:
fruits.pop() #순서 보장되지 않음
print(fruits)

{'watermelon', 'orange', 'banana', 'grape'}

## map, filter, zip
### map
- map(function, iterable)
- 반복작업을 대신해줌
- 단일데이터에만 적용하는 함수 사용(일반적으로 list)
- print(list())리스트로 감싸야 출력

In [199]:
numbers = [1, 2, 3, 4, 5]
# ['1', '2', '3', '4', '5']

result = []
for number in numbers:
    result.append(str(number))

print(result)

['1', '2', '3', '4', '5']

In [201]:
result = map(str, numbers)
print(result)
print(list(result))

<map object at 0x0000023639D8BF70>
['1', '2', '3', '4', '5']

In [202]:
result = []
for number in numbers:
    result.append(number ** 3)

print(result)

[1, 8, 27, 64, 125]

In [203]:
def cube(x):
    return x ** 3

In [204]:
result = map(cube, numbers)
print(list(result))

[1, 8, 27, 64, 125]

In [208]:
test_input = '1 3 5 7 9'
print(list(map(int,test_input.split())))

[1, 3, 5, 7, 9]

### filter
- filter(function, iterable)
- True or False를 반환하는 함수사용

In [209]:
def is_odd(x):
    return x % 2

In [211]:
numbers = [1, 2, 3, 4, 5]

result = []
for num in numbers:
    if num % 2: 
        result.append(num)
print(result)

[1, 3, 5]

In [213]:
result = filter(is_odd, numbers)
print(list(result))

[1, 3, 5]

### zip
- 어떤 배열 2개를 합할 때 사용
- 같은 위치에 있는 데이터를 튜플 형식으로 묶어서 반환
- 길이가 다르면 같은 길이까지만 반환

In [215]:
a = [1, 2, 3]
b = [100, 200, 300, 400, 500]

result = zip(a, b)
print(result)
print(list(result))

<zip object at 0x0000023639F965C0>
[(1, 100), (2, 200), (3, 300)]